.swiper-button-prev {
    color: black;
    width: 30px;
    height: 30px;

    background-color: white;
    border-radius: 50%;
}
.swiper-button-prev::after{
    font-size: 15px;
    font-weight: bolder;
    /* background-color: white; */
}
.swiper-button-next::after{
font-size: 15px;
font-weight: bolder;
}
.swiper-button-next{
    color: black;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    
}